#food-desert {
  position: relative;
  padding: 1rem;
}

.food-desert-step {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.food-desert-step.is-active {
  background-color: #3b3b3ba5;
  color: #fff;
}

.food-desert-step p {
  padding: 1rem;
  font-size: 1.5rem;
}
