#scrolly{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.step {
  animation: fadeout 1s ease-in;
  margin: 0 auto 25rem auto;
  /*background-color: #3b3b3b54;*/
  background-color: #ffffff00;
  color: #ffffff00;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: #3b3b3ba5;
  color: #fff;
  animation: fadein 0.75s ease-in;
}

.step li {
  padding: 1rem;
  font-size: 1.5rem;
}

.step p {
  padding: 1rem;
  font-size: 1.5rem;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

#scrolly-img{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.side-img {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin-bottom: 20rem;
  z-index: 0;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-img img{
  object-fit: contain;
}