#scrolly {
    position: relative;
    background-color: #f3f3f3;
    padding: 1rem;
}

article {
    position: relative;
    padding: 0;
    max-width: 20rem;
    margin: 0 auto;
}

.sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #8a8a8a;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-thing p {
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.step {
    margin: 0 auto 2rem auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active p {
    background-color: goldenrod;
    color: #3b3b3b;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3b3b3b;
}