* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 1280px;
    color: #3b3b3b;
    font-size: 24px;
    background-image: linear-gradient(rgb(227, 226, 226), black);
    background-repeat: no-repeat;
}
  
p,
h1,
h2,
h3,
h4,
a {
    margin: 0;
    font-weight: 400;
}
  
a,
a:visited,
a:hover {
    color: teal;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
}
  
#intro{
    max-width: 40rem;
    margin: 1rem auto;
    margin-bottom: 420px;
    text-align: center;
}
  
.intro__hed {
    font-size: 2em;
    margin: 2rem auto 0.5rem auto;
}
  
.intro__dek {
    color: #8a8a8a;
}

.outro {
    margin-top: 10rem;
    height: 500px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0;
    margin: 1rem auto;
    color: #fff;
    max-width: 40rem;
}

.outro.is-active {
    opacity: 1;
    animation: fadein 0.75s ease-in;
}

article {
  position: relative;
  padding: 0 1rem;
}